{% extends 'post/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 60px;">
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Submit</button>
</form>
<br>
</div>

{% endblock %}
