    {% extends 'post/base.html' %}
    {% load crispy_forms_tags %}
    {% block title %}Roote Detail{% endblock %}

{% block body %}
<div class="container-fluid" style="margin-top: 60px;">
        <div class="col-sm-6 col-sm-offset-4">
			<h1>Password Reset Complete</h1>
              <p>
                Its Complete
              </p>
              <a href="{%url 'accounts:login'%}">Login</a>
		</div>

</div>
{% endblock %}
