    {% extends 'post/base.html' %}
   {% block title %}Roote Detail{% endblock %}
   {%block subtitle %}Add a Location{%endblock%}


   {% block script %}
   <script>
   $(document).ready(function(){
     console.log("working");

     $.ajax({
       url:"/api/post/location",
       method:"GET",
       success: function(data){
         console.log(data)
       },
       error:function(data){
         console.log("error")
         console.log(data)
       }
     })

   });
   </script>
   {% endblock script %}





{% block jquery %}
<script>
$(".like-btn").click(function(e){
 e.preventDefault()
 var this_ = $(this)
 var likeUrl = this_.attr("data-href")
 var likeCount = parseInt(this_.attr("data-likes"))
 var addLike = likeCount + 1
 var removeLike = likeCount - 1
 if (likeUrl){
   $.ajax({
     url: likeUrl,
     method: "GET",
     data:{},
     success: function(data){
       console.log(data)
       var newLikes;
       if (data.liked){
         updateText(this_, addLike, "UnLike")
       }else {
         updateText(this_, removeLike, "Like")
       }
     }, error: function(error){
       console.log(error)
       console.log("error")
      }
  })
 }
})
</script>
{% endblock %}

{% block body %}

<div class="col-sm-6 col-sm-offset-3" style="margin-top: 80px;">
       <img src="{{ roote.roote_photo.url }}" style="width: 500px;" >

        <h1>{{ roote.roote_name }} </h1>
          <p> <a class='like-btn' data-href="{{roote.get_api_like_url}}" href="{{roote.get_like_url}}">{{ roote.likes.count }} Like</a></p>
        <p>Adventurer: {{ roote.owner }}</p>
    <div class="row">
      <!--Form-->
      <div clas="col-sm-8 col-sm-offset-2" >
           {% for location in roote.location_set.all %}
           <div class="media">
             <div class="media-left">
               <a href="#">
                 {% if object.image %}
                 <img class="media-object" src="..." alt="...">
                 {% endif %}
               </a>
             </div>
             <div class="media-body">
               {{ location.place_name }}<br/>
               {{ location.coordinate}}|
               via {{ roote.timestamp }}
             </br/>
               <br>
             </div>
           </div>
           {% endfor %}
        </div>
      </div>
  </div>
    <!-- <div class="row">
     <div>

     </div>
     <div class="row">
     		<div class="col-md-4">
     			 <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri}}">
     			<button type="button" class="btn btn-success btn-default btn-block ">Facebook</button>
     			</a>
     		</div>
     		<div class="col-md-4">
     			<a href="https://twitter.com/home?status=Roote%20the%20world:@20{{ request.build_absolute_uri}}">
     			<button type="button" class="btn btn-success btn-default btn-block ">Twitter</button>
     			</a>
     		</div>
     		<div class="col-md-4">
     			<a href="https://twitter.com/home?status=Roote%20the%20world:@20{{ request.build_absolute_uri}}">
     			<button type="button" class="btn btn-success btn-default btn-block ">Twitter</button>
     			</a>
             </div>
     </div> -->

 {% endblock %}
