<!DOCTYPE html>
<html>
  <head>
    <title>Current Location</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

  </head>


  <body>
    {% block body %}
      {% for usersession in usersessions %}
        <h1>{{ usersession.latitude}} , {{usersession.longitude}}</h1>
      {%endfor%}
    {% endblock %}
    <div>
    <a href="{% url 'accounts:login' %}">
      <button type="button" class="btn btn-success btn-default btn-block ">Add</button>
    </a>
    </div>
  </body>

</html>
