<!doctype html>
<html lang="en">
{% extends 'post/base.html' %}

{% block body %}
<div class='row'>

<div class='col-sm-8'>
<h2>{{ product.title }}</h2>
{% if product.productimage_set.count > 0 %}
<div>
{{img.image.file}}
{{img.image.url}}
{% for img in product.productimage_set.all %}
<img class='thumbnail' src="{{img.image.url}}" />
{% endfor %}
{% endif %}
</div>
<p class='lead'>
{{ product.description }}
</p>
</div>


<!-- Product Sidebar -->
<div class='col-sm-4'>

<h3>{{ product.price }}</h3>
{% if product.variation_set.count > 1 %}
<select class='form-control'>
{% for vari_obj in product.variation_set.all %}
<option value="{{ vari_obj.id }}">{{ vari_obj }}</option>
{% endfor %}
</select>
{% endif %}
<br/>
<a href="#">Add to Cart</a>


<br/>
<hr/>
<h4>Related Products</h4>

</div>

<!-- End Product Sidebar -->




</div>



{% endblock %}
</html>
