<!doctype html>
<html lang="en">
{% extends 'post/base.html' %}

  <head>
    {% block body %}
    <div class="container-fluid">
          <h1>Welcome to Roote Shop!</h1>
        <table class= "table">
        {% for obj in all_products %}
        <tr>
          <td><a href="{% url 'products:product_detail' obj.id %}" >{{ obj.title }}</a></td>
        </tr>
        {% endfor %}
      </table>
      {% endblock %}
</html>
